#container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-top: 0;
}

#input-container {
  margin-bottom: 20px;
}

#productname,
#producttitle,
#productdes,
#productven,
#stock,
#buyprice,
#saleprice,
#purchasequnt,
#producttype,
#shiprate,
#update-name-input,
#update-title-input,
#update-des-input,
#update-ven-input,
#update-stock-input,
#update-buyprice-input,
#update-saleprice-input,
#update-purchasequnt-input,
#update-producttype-input,
#update-shiprate-input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#productname:focus,
#producttitle:focus,
#productdes:focus,
#productven:focus,
#stock:focus,
#buyprice:focus,
#saleprice:focus,
#purchasequnt:focus,
#producttype:focus,
#shiprate:focus,
#update-name-input:focus,
#update-title-input:focus,
#update-des-input:focus,
#update-ven-input:focus,
#update-stock-input:focus,
#update-buyprice-input:focus,
#update-saleprice-input:focus,
#update-purchasequnt-input:focus,
#update-producttype-input:focus,
#update-shiprate-input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #3e8e41;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

#update-container {
  display: none;
  margin-top: 20px;
}

#update-btn {
  background-color: #2196F3;
  margin-right: 10px;
}

#cancel-btn {
  background-color: #f44336;
}

.edit-btn {
  background-color: #ffc107;
}

.delete-btn {
  background-color: #dc3545;
  margin-left: 10px;
}
#export-btn {
  background-color: #f44336;
}
